.mobile-menu {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;

  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;

  visibility: visible;

  pointer-events: auto;
}

.mobile-menu-container {
  height: 100%;

  display: flex;

  flex-direction: column;

  padding: 24px 16px;
}

/* CLOSE */

.mobile-menu-close {
  width: 24px;
  height: 24px;

  margin-left: auto;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #e7e9fc;
}

/* NAVIGATION */

.mobile-nav {
  margin-top: 24px;

  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;

  flex-direction: column;

  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;

  font-size: 36px;

  line-height: 1.11;

  letter-spacing: 0.02em;

  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

/* CONTACTS */

.mobile-contacts {
  margin-bottom: 48px;

  font-style: normal;
}

.mobile-contacts li:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-contacts a {
  font-weight: 500;

  font-size: 20px;

  line-height: 1.2;

  letter-spacing: 0.02em;
}

.mobile-contacts a[href^='tel'] {
  color: #4d5ae5;
}

.mobile-contacts a[href^='mailto'] {
  color: #434455;
}

/* SOCIAL */

.mobile-social-list {
  display: flex;

  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
